<section>
    @if(productos.length > 0){
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Estado</th>
        </tr>
        @for (Producto of productos; track Producto.id){
        <tr>
            <td>{{ Producto.nombre }}</td>
            <td>{{ Producto.precio }}</td>
            <td>{{ Producto.activo ? 'Activo' : 'Inactivo' }}</td>
        </tr>
        }
    </table>

    } @else {
    <tr>
        <th>No hay productos</th>
    </tr>
    }

</section>