<app-header></app-header>

<div class="container">
    <h1>Registro de datos</h1>
    <div class="form">
        <form [formGroup]="formulario" (ngSubmit)="registrar()">
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" formControlName="nombre">

            <label for="apellido">Apellido: </label>
            <input type="text" id="apellido" formControlName="apellido">

            <label for="estado">Estado: </label>
            <input type="checkbox" formControlName="estado">

            <label for="celular">Celular: </label>
            <input type="text" id="celular" formControlName="celular" inputmode="numeric" maxlength="9">

            @if(formulario.invalid){
                <p>Formulario inválido, datos incorrectos</p>
            }
            <input type="submit" id="enviar" value="Registrar" [disabled]="formulario.invalid">
            
        </form>
    </div>
</div>

